<?xml version="1.0" ?>
<settings version="1">
	<section id="context.item.extras">
		<category id="main" label="32000">
			<group id="1" label="32001">
				<setting help="" id="debug_log" label="32002" type="boolean">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
			</group>
			<!-- <group id="2" label="32004">
				<setting help="" id="setting_2" label="32005" type="boolean">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
			</group> -->
		</category>
	</section>
</settings>